html.masterTooltip(title='Hi, I am Etio')
  //css/meta/etc
  include pug/head.pug

  body
    //rotates the page
    .rotate-page
      #name
        |Etio Tan
    include pug/box.pug
    include pug/nav.pug
    include pug/pyramid.pug
    include pug/projects.pug
  //jquery&js
  script(src='./minjs/jquery-3.1.1.min.js')
  script(src='./minjs/scripts.js')
