.box
  p
    |I am Etio, a Toronto based web developer and designer.#[br] My main tools include Jade, Sass, jQuery.#[br] I strive for clean code and design. #[br] etiotan@gmail.com.
  img(src = './images/cloud.jpg' width='125', height='150')
