ul.projects-list
  li.masterTooltip(title='Jade, Sass, jQuery')
    a(href="https://etiotan.github.io/photo-gallery/app/" target="_blank") Image Gallery
  li.masterTooltip(title='React, Minor CSS')
    a(href="https://etiotan.github.io/react-todo/" target="_blank") React Todo
  li.masterTooltip(title='HTML, LESS, Bootstrap, jQuery, Templating')
    a(href="https://etiotan.github.io/cookie-bootstrap/" target="_blank") Cookie Cutter
  li.gitHub.masterTooltip(title='View all projects')
    a(href="https://github.com/etiotan?tab=repositories" target="_blank") GitHub
